$fa-font-path: "../bower_components/components-font-awesome/fonts";

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

@import "sector";

$color1: #367F00;
$color2: #A5FF62;
$color3: #6DFF00;
$color4: #687F57;
$color5: #57CC00;

.browsehappy{
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
[data-spy="scroll"]{
  position: relative;
}
#top{
  margin-top: 55px;
}
.jumbotron{
  padding: ($jumbotron-padding / 2) $jumbotron-padding;
  @include media-breakpoint-up(sm) {
    padding: $jumbotron-padding ($jumbotron-padding * 2);
  }
}
@include generate-sector("sector", 100%);
#top{
  .carousel-caption{
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
    padding-bottom: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    .blockquote{
      border: none;
      margin-bottom: 0;
    }
  }
  .indicators{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%);
    .carousel-indicators{
      position: relative;
      bottom: auto;
      left: auto;
      z-index: auto;
      margin: auto;
      padding: $spacer;
      li{
        border-color: #373a3c;
        height: 15px;
        width: 15px;
        margin: 1px;
        border-radius: 100%;
        &.active{
          background-color: #373a3c;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
#about{
  .row.about{
    display: table-row;
    .col-sm-6{
      display: table-cell;
      &:first-child{
        border-right: $spacer/4 solid #373a3c;
      }
      &:not(:first-child){
        border-left: $spacer/4 solid #373a3c;
      }
    }
  }
}
.navbar{
  .navbar-brand{
    margin-right: 0;
  }
  .nav-item .dropdown-toggle{
    float: left;
    &:after{ display: none; }
  }
  .dropdown-menu{
    all: initial;
    font-family: inherit;
    /*display: none;*/
    float: left;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-width .3s cubic-bezier(.45,.05,.55,.95) .2s, max-height .3s cubic-bezier(.45,.05,.55,.95) .2s;
    &:before, &:after{
      float: left;
      padding: .425rem;
      color: rgba(0, 0, 0, 0.3);
    }
    &:before{
      content: "{";

    }
    &:after{
      content: "}";
      padding-right: 0;
    }
    .dropdown-item{
      all: initial;
      font-family: inherit;
      font-size: $font-size-xs;
      float: left;
      color: $navbar-light-color;
      display: block;
      padding-top:    .425rem;
      padding-bottom: .425rem;
      margin: .25rem 0;
      cursor: pointer;
      + .dropdown-item{
       margin-left: 0.25rem;
      }
      @include hover-focus {
        color: $navbar-light-hover-color;
      }
      &.active{
        @include plain-hover-focus {
          color: $navbar-light-active-color;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &:before{
        padding-left: 0;
        padding-right: .06rem;
      }
      &:after{
        padding-left: .06rem;
      }
    }
  }
  .open > .dropdown-menu{ /*display: block;*/ max-width: 1000px; max-height: 38px;}
}
.row.cards div[class*="col-"]{
  @include media-breakpoint-up(md) {
    &:not(:first-child) {
      border-left: 1px solid #373a3c;
    }
    &:not(:last-child) {
      border-right: 1px solid #373a3c;
    }
  }
  div.lead{
    float: right;
  }
  a.more {
    text-decoration: none;
    color: $navbar-light-color;
    @include hover-focus {
      color: $navbar-light-hover-color;
    }
    &:before {
      content: "Хочу еще...";
    }
  }
}
.thing-list{
  list-style: none;
  padding-left: 0;
  .thing-item{
    a.thing-link{
      text-decoration: none;
      color: $navbar-light-color;
      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }
    footer.thing-footer{
      @extend small;
      @extend .text-muted;
      text-align: right;
      &:before{
        content: "\2014 \00A0";
      }
    }
  }
}
#top{ background-color: $color2 }
#about{ background-color: $color1 }
#why{ background-color: $color4 }
#services{
  background-color: $color3;
  .row{
    &:nth-child(odd){
      background-color: $color5;
    }
    &:nth-child(even){
      background-color: $color3;
    }
  }
}
#process{ background-color: $color1 }
#everything{ background-color: $color2 }
#contact{ background-color: $color4 }
