@mixin generate-sector($class, $radius, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)){
  [class*="#{$class}-"]{
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
  }
  @each $name in $breakpoint-names{
    @include media-breakpoint-up($name){
      [class*=" #{$class}-#{$name}-"] .carousel-indicators{ left: auto; width: auto; }
      [class*=" #{$class}-#{$name}-"][class*="-l"] .carousel-indicators{ left: 0; margin-left: 10px; }
      [class*=" #{$class}-#{$name}-"][class*="-r"] .carousel-indicators{ right: 0; margin-right: 10px; }
      .#{$class}-#{$name}-t-l{ border-bottom-right-radius: $radius; }
      .#{$class}-#{$name}-t-r{ border-bottom-left-radius: $radius; }
      .#{$class}-#{$name}-b-l{ border-top-right-radius: $radius; }
      .#{$class}-#{$name}-b-r{ border-top-left-radius: $radius; }
    }
  }
}
